
/* text design */
body{
	background-color: rgba(142, 198, 197, .3);
	font-family: 'Lora', serif;
	font-weight: 500;
	font-size: 16px;
	color: grey;
}
 
h1, h2 {
	font-family: 'Roboto', sans-serif;
}

h1{
	color: #8EC6C5;
	font-size: 32px;	
	font-weight: 700;
	text-align: center;
}

h2{
	color: #6983AA;
    font-weight: 500;
}

a {
	text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    font-family: roboto;
}
a:hover {
	color: black;
}


/* custom design with class */

.container {
	margin: 40px auto;
    width: 850px;
}

@media (max-width: 960px) {
	.container {
		width: 850px
	}
}

@media (max-width: 720px) {
	.container {
		width: 650px
	}
}

@media (max-width: 540px) {
	.container {
		width: 400px
	}
}


.card-white {
    margin: 40px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    padding: 30px;
    text-align: center;
}

.list-front {
	text-align: left;
}

.btn {
	background-color: #8ec6c5;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    text-align: center;
	margin-bottom: 12px;
}

.btn:hover {
	color: white;
	background-color: #6983AA;
}

.list-inline{
	font-size: 30px;
    color: grey;
}

.img-group {
	padding: 16px 0px 16px 0px;;
	margin: auto;
	border-radius: 4px;
}


@media (max-width: 720px) {
	.img-group {
		width: 500px;
		height: auto;
	}
}

@media (max-width: 540px) {
	.img-group {
		width: 260px;
    	height: auto;

	}
}

/* custom design with id */

#ski-text{
	margin-top: 50px;
}
